# Docker
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/docker-compose-dev.yml
**/docker-compose-prod.yml

# Git
**/.git
**/.gitignore

# Python
**/.venv

# React
**/build
**/node_modules

# Generic files
**/.env
**/*.md
**/README*

# Postgres
**/postgres_username.txt
**/postgres_password.txt

# Project specific files
cloudformation
images
